@import "compass/css3";

/* SASS functions and mixins*/


@mixin column($colnum,$margin:margin) {
	width: get-width($colnum,$margin);
	float:left;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	@if $margin == 'no-margin' {
		margin-left:0;
		margin-right:0;
	}
	@else if $margin == 'no-margin-left' {
		margin-right:0.833333%;
		margin-left:0;
	}
	@else if $margin == 'no-margin-right' {
		margin-left:0.833333%;
		margin-right:0;
	}
	@else {
		margin-right:0.833333%;
		margin-left:0.833333%;
	}
	vertical-align:top;
	
}
@function get-width($colnum,$margin){
	@if $margin == 'no-margin' {
		@return ($colnum * 08.333333%);
	}
	@else if $margin == 'no-margin-left' or $margin == 'no-margin-right'{
		@return ((($colnum * 80) - 8) / 960) * 100%;
	}
	@else {
		@return ((($colnum * 80) - 16) / 960) * 100%;
	}
}

$near-black: #1F1F1D;
$teal: #1A9999;

@mixin btn-teal {
	@include background-image(linear-gradient(#5BB4B4,#5BB4B4 5%, #31A1A1 5%,#1A8A8A));
	border:1px solid #146E6E;
	@include border-radius(4px);
	@include box-shadow (1px 1px 3px rgba(0,0,0, 0.4));
	color:#FFF;
	display:inline-block;
	font-size:14px;
	margin-right: 3px;
	padding:8px 16px;
	text-align:center;
	@include text-shadow(rgba(0, 0, 0, 0.4) 0 1px 2px)
}
@mixin btn-teal-hover {
	@include background-image(linear-gradient(#508686,#508686 5%, #246767 5%,#0D5050 95%,#266969 95%, #266969 100%));
	border:1px solid #093F3F;
}



body {
  background: url("http://www.archives.com/images/bg_body.png") repeat-y scroll center center #F3F1EC;
  font-family: Arial,Helvetica,sans-serif;
  height: 100%;
  font-size:100%;
  margin:0;
}
DIV, SPAN, B, STRONG, INPUT, OPTION, SELECT, TEXTAREA, A, H1, H2, H3, H4, TD, TH, CAPTION {
    font-family: Arial,Helvetica,sans-serif;
}
a {
    color: #3F90C5;
}
ul {
	padding:0;
}
#pageWrapper {
    clear: both;
    margin: 0 auto;
    padding-top: 0;
    max-width: 960px;
	
	ul {
		overflow: hidden;
	}
	
	#headerCont {
		background: none repeat scroll 0 0 #F3F1EC;
		padding: 0;
		@include column(12,no-margin);
		.logo {
			margin: 23px 0 0 10px;
			display: inline;
			float: left;
			
			
			img {
				background: url("http://www.archives.com/images/logo_Archives.png") no-repeat scroll left top transparent;
				height: 34px;
				width: 383px;
			}
		}
	}
	#navCont {
		background: url("http://www.archives.com/member/images/bgNav.gif") repeat-x scroll 0 -5px transparent;
		@include box-shadow (0 3px 3px rgba(0,0,0,0.4)) ;
		@include column(12,no-margin);
		height:44px;
		#nav-right {
			display: inline;
			float: right;
			margin-right: 22px;
			margin-top: 20px;
			position: absolute;
			right: 0;
			top: 0;
			width: 75px;
			a {
				color: #FFFFFF;
				display: inline;
				float: right;
				font-size: 12px;
				margin-right: 7px;
				text-transform: none;
			}
		}
	}
}
.inner-box {
	background-color:#FFF;
	border:1px solid #EEE;
	@include box-shadow (0 0 7px #EEEEEE inset) ;
	
}
a.family-actions, a.alert-actions {
	color:$teal;
	font-size:12px;
	text-decoration:none;
	display:inline-block;
	line-height: 11px;
	margin-bottom: 12px;
	padding-bottom: 2px;
}
.add.family-actions, .add.alert-actions {
	border-right:1px solid $teal;
	padding-right:8px;
	margin-right:8px;				
}
.arrow {
	background: url("../discovery-arrows.png") repeat scroll 0 -24px transparent;
	bottom: 19px;
	display: block;
	font-size: 0;
	height: 51px;
	line-height: 0;
	position: absolute;
	text-indent: -999em;
	width: 36px;
	z-index: 200;
}
#Left.arrow {
	left: -10px;
}
#Right.arrow {
	background-position: -34px 0;
	bottom: 0;
	height: 89px;
	right: -7px;
	width:58px;
}
.inactive.left.arrow {
	background-position: 0 -60px;
}
.inactive.right.arrow {
	background-position: -54px -60px;
}
.active.left.arrow {
	background-position: 0 -123px;
}
.active.right.arrow {
	background-position: -54px -123px;
}
#nonFooter {
	background-color: #FFFFFF;
	padding-top: 15px;
	box-shadow: 0 5px 5px #DDDDDD;
	@include column(12,no-margin);
	margin:0;
	
	@media(max-width:600px){
		padding-top:0;
	}
	
	#StoryRollup {
		background-color: #F3F1EC;
		height: 32px;
		padding-top: 8px;
		position: relative;
		width: 100%;
		z-index: 100;
		
		@media (min-width:601px) {
			display:none;
		}
		
		#Tabs {
			margin:0 auto;
			width:208px;
			
			#EmptyBefore {
				border-bottom: 1px solid #CCCCCC;
				@include border-radius(0 0 4px 0);
				display: block;
				float: left;
				height: 32px;
				width: 3px;
			}
			#EmptyAfter {
				border-bottom:1px solid #CCCCCC;
				@include border-radius(0 0 0 4px);
				display:block;
				width:3px;
				height:32px;
				float:left;
			}
			h2 {
				@include border-radius(4px 4px 0 0);
				font-family:Georgia;
				font-size:14px;
				color:$near-black;
				display:block;
				font-weight:normal;
				float:left;
				height:22px;
				margin:0;
				padding-top:8px;
				text-align:center;
				width:100px;
				
				&.active{
					background-color:#fff;
					border-bottom: 2px solid #FFFFFF;
					border-top:1px solid #CCCCCC;
					border-right:1px solid #CCCCCC;
					border-left:1px solid #CCCCCC;
					margin-left:-1px;
				}
				&.inactive {
					background-color:#F9F8F6;
					border-top:1px solid #DFDEDC;
					border-bottom:1px solid #CCCCCC;
					height:23px;
				}
				&#Search.inactive {
					border-right:1px solid #DFDEDC;
				}
				&#YourStory.inactive {
					border-left:1px solid #DFDEDC;
					
				}
			}
			
		}
		#Location b {
			color:#999;
			float:right;
			font-size:12px;
			font-weight:normal;
			padding-right:12px;
			padding-top:8px;
			
			i {
				font-weight:bold;
				font-style:normal;
			}
		}
	}
	#DiscoveryStream {
		@include column(12,no-margin);
		background: #FFF url("../bg-discovery-noise.jpg") repeat-x center -159px;
		overflow:hidden;
		position: relative;
		@media (max-width:600px) {
			background:none;
			@include background-image(linear-gradient(#FFFFFF, #FFFFFF 75%, #F7F7F7));
			border-top: 1px solid #CCCCCC;
			border-bottom:1px solid #ddd;
			margin-top: -1px;
			position: relative;
			z-index: 0;
		}
		&.inactive {
			@media(max-width:600px) {
				display:none;
			}
		}
		.arrow {
			@media(max-width:600px) {
				display:none;
			}
		}

		#DiscoveryHolder {
			overflow: hidden;
			width: 300%;
		}
		.disc-tile {
			float: left;
			overflow: hidden;
			width: 33%;
			
			@media(max-width:600px) {
				@include background-image(linear-gradient(#FFFFFF, #EEEEEE));
				background-repeat: no-repeat;
				background-size: 100% 154px;
				border: 1px solid #DDDDDD;
				@include border-radius(8px);
				@include box-shadow (2px 2px 3px rgba(0,0,0, 0.1));
				margin: 24px 12px;
				width: 28%;
			}
			

			#Photo{
				@include column(4);
				height:312px;
				padding: 20px 0 12px 27px;
				img { 
					width:100%;
				}
				@media (max-width:600px) {
					width:48.3333%;
				}
			}
			#Discoveries {
				@include column(8,no-margin);
				background: url(../bg-discovery.jpg) no-repeat right bottom;
				height:312px;
				font-size:22px;
				font-family:Georgia;
				padding:20px 5% 20px 3%;
				
				@media (max-width:800px) {
					background:none;
					font-size:18px;
				}
				@media (max-width:600px) {
					font-size:16px;
					width:auto;
					float:none;
				}
				strong {
					font-family:georgia;
				}
				.button {
					@include btn-teal;
					@media (max-width:600px) {
						margin-bottom:12px;
					}
				}
				.button.hover {
					@include btn-teal-hover;
				}
			}
		}
		#DiscoveryNav {
			@include column(12,no-margin);
			background-color:#F7F8F3;
			border-bottom:1px solid #EEEEEE;
			height: 88px;
			margin: 1px 0 0;
			overflow: hidden;
			padding: 0 0 0 36px;
			
			@media (max-width:600px) {
				display:none;
			}
			
			#navContainer{
				width:187%;
				.nav-element {
					background-color:#fff;
					border:1px solid #F3F1EC;
					display:inline-block;
					height:75px;
					margin:3px;
					padding:2px;
					width:269px;
				
					.photo{
						float:left;
						margin-right:8px;
						
						img {
							border:1px solid #ccc;
							display:block;
						}
						label {
							display:block;
							background-color:#ccc;
							@include box-sizing(border-box);
							color:#FFF;
							font-size:10px;
							margin-top:1px;
							padding:2px;
							text-align:center;
							width:57px;
							
						}
					}
					.name {
						color:$near-black;
						display:block;
						font-family:Georgia;
						font-size:14px;
						margin-top:8px;
					}
					.collection {
						color:#999;
						display:block;
						font-size:13px;
						height:31px;
						line-height:16px;
						width:230px;
						
					}
					.last-action {
						color:#999;
						display:block;
						font-size:11px;
						line-height:16px;
					}
				}
				.active {
					background:#F7F8F3 url(../bg-discovery-tile.jpg) repeat-x center bottom;
					border:2px solid #A5CCD6;
					margin:2px;
					.photo label {
						background-color:#A5CCD6;
					}
				}
				.hover {
					border:1px solid #0E5959;
					.photo label {
						background-color:#0E5959;
					}
					.last-action, .collection {
						color:$near-black;
					}
				}
			}
		}
	}
	section {
		@include column(9);
		@media (max-width:990px) {
			@include column(12);
		}
		@media (max-width:600px) {
			@include column(12,no-margin);
		}
		
	}
	#Widgets .outer-box {
		@include background-image(linear-gradient(#F9F7F0,#F3F1EC 25%));
		@include border-radius (4px 4px 0 0);
		border:1px solid #F3F1EC;
		margin-top:16px;
		padding:12px 4px 4px;
		
		h2 {
			font-family:Georgia;
			font-style: italic;
			font-size: 18px;
			color:#333326;
			font-weight:normal;
			margin:0 0 8px 8px;
			@media(max-width:600px) {
				font-size:16px;
				@include text-shadow(1px 1px 1px #FFFFFF)
			}
			
		}
	}
	#NewSearch {
		@include column(12,no-margin);
		position:relative;
		
		&.active {
			@media(max-width:600px) {
				border-top: 1px solid #CCCCCC;
				@include border-radius(0);
				margin-top: -1px;
			}
		}
		
		
		&.inactive {
			@media(max-width:600px) {
				display:none;
			}
		}
		&.outer-box {
			@media(max-width:600px) {
				border-left:none;
				border-right:none;
				border-bottom:none;
				padding:0;
			}
			h2 {
				@media(max-width:600px) {
					display:none;
				}
			}
		}
		
		.inner-box{
			padding:12px 0 12px 12px;
			overflow:hidden;
			@media (max-width:600px){
				padding:12px;
				border:none;
				box-shadow:none;
			}

			

			form {
				@include column(8);
				margin-bottom:0;
				@media(max-width:600px){
					border-bottom:1px solid #eee;
					@include column(12);
					margin-bottom:12px;
					padding-bottom:12px;
				}
				
				.form-fields {
					margin-bottom:8px;
					
					&#FirstName, &#Location, &#LastName, &#Year {
						@media(max-width:600px){
							@include column(12,no-margin);
							margin-bottom:6px;
						}
					}
					span {
						color:#999;
						font-weight:normal;
						font-size:10px;
						line-height: 14px;
						@media(max-width:600px){
							font-size:13px;
						}
						
					}
				}
				#FirstName, #Location {
					@include column(6,no-margin-left)
				}
				#LastName {
					@include column(6,no-margin-right)
				}
				#EventType {
					@include column(3);
					@media (max-width:600px) {
						width:98%;
						margin:0 0 12px 0;
					}
					
					select{
						padding:3px;
						width:100%;
						@media(max-width:600px){
							padding:5px 0;
						}
					}
				}
				#Year {
					@include column(2,no-margin-right)
				}
				label {
					color:#999;
					font-size:12px;
					display:block;
					margin-bottom: 1px;
					@media(max-width:600px) {
						color:$near-black;
						font-weight:bold;
						font-size:13px;
					}
				}
				input {
					display:block;
					@include box-shadow(0 3px 5px #CCC inset);
					width:96%;
					
					@media(max-width:600px) {
						padding: 8px 0;
					}
				}
				.button {
					@include btn-teal;
					margin:8px 3px 8px 0;
					width:112px;
				}
				.button.hover {
					@include btn-teal-hover;
				}
			}
			#recent-search {
				@include column(4);
				border-left:1px solid #EEE;
				padding-left:16px;
				@media(max-width:600px) {
					border-left:none;
					@include column(12,no-margin);
					padding-left:4px;
				}
				
				h3 {
					border-bottom:1px solid #EEE;
					color: #666666;
					font-family: Georgia;
					font-size: 14px;
					font-style: italic;
					font-weight: normal;
					margin:-4px 0 0;
					padding-bottom:4px;
					@media(max-width:600px){
						border-bottom:none;
					}
				}
				ol {
					margin: 0;
					overflow-y: scroll;
					padding: 0 0 0 12px;
					@media(max-width:600px){
						height:74px;
						overflow:hidden;
						padding:0;
					}
					li {
						list-style-image:url(../list-arrow.gif);
						color:#999;
						font-size:12px;
						border-bottom:1px dotted #ECECEC;
						margin-top:8px;
						padding-bottom:8px;
						width:94.47%;
						@media (max-width:600px) {
							@include border-radius(4px);
							border:1px solid #ddd;
							background-color:white;
							@include column(6);
							list-style:none;
							padding:4px;
						}
						
						span{
							display:block;
						}
						
						span.name {
							font-family:Georgia;
							color:$teal;
							font-size:13px;
						}
					}
				}
			}
		}
		.header-photo {
			background:url(../photo-new-search.png) no-repeat;
			height:48px;
			width:230px;
			display:block;
			position:absolute;
			top:-6px;
			left:116px;
			
			@media (max-width:600px) {
				display:none
			}
		}
	}
	#FamilyMembers {
		@include column(6,no-margin-left);
		@media (max-width:800px) {
			@include column(12,no-margin);
		}
		
		.inner-box {
			padding-top:8px;
			text-align:center;
			ul{
				margin:11px 0;
				li {
					display:inline-block;
					font-family:Georgia;
					font-size:12px;
					color:$teal;
					width:40px;
					margin:2px 2px 8px;
					text-align:center;
					.family-image {
						display: block;
						height: 40px;
						margin-bottom: 2px;
						width: 40px;
						img {
							border:1px solid #DDD;
							display:block;
							height:100%;
							margin:0 auto 2px;
							width:100%;
						}
					}
				}
			}
		}
	}
	#Alerts {
		@include column(6,no-margin-right);
		@media (max-width:800px) {
			@include column(12,no-margin);
		}
		.inner-box {
			padding:8px 8px 0;
			text-align:center;
			ul {
				margin-bottom:6px;
			}
			li {
				color: #999999;
				display: inline-block;
				font-size: 12px;
				height: 67px;
				list-style-type: none;
				margin-left: 2%;
				margin-right: 2%;
				text-align: left;
				vertical-align: top;
				width: 45%;
				span {
					display:block;
				}
				span.name-num {
					width:100%;
					overflow:hidden;
				}
				b.name {
					color: $teal;
					float: left;
					font-family: Georgia;
					font-size: 14px;
					font-weight:normal;
					margin-right: 8px;
					max-width: 84%;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap
				}
				b.alert-count {		
					@include background-image(linear-gradient(#F89F9F, #F89F9F 2%, #FD6B6B 2%,#E65D5D));
					border: 1px solid #E02222;
					@include border-radius(3px);
					color: #FFFFFF;
					display: block;
					float: left;
					font-size: 11px;
					font-weight:normal;
					line-height: 12px;
					padding: 1px 3px;
					@include text-shadow(rgba(0, 0, 0, 0.6) 0 0 3px)
				}
			}
		}
	}
	#Premium {
		@include column(12,no-margin);
		h2 {
				background:url(../cart.gif) no-repeat 0 2px;
				padding-left:28px;
				margin-left:4px;
			}
		.inner-box {
			overflow:hidden;
			ul {
				margin: 0 auto;
				width: 90.4%;
				@media (max-width:800px) {
					@include column(12);
				}

				li{
					border: 1px solid #F3F1EC;
					@include border-radius(4px);
					color: #1A9999;
					float: left;
					font-family: georgia;
					font-size: 13px;
					height: auto;
					list-style-type: none;
					margin: 12px 1.6%  16px;
					padding: 8px 1.92%;;
					text-align: center;
					width: 12.6%;
					@media (max-width:800px) {
						font-size: 12px;
						margin: 12px 0.6% 16px;
						padding: 8px 0.92%;
						width: 16.4%;
					}
					@media (max-width:600px) {
						@include column(4);
						font-size: 14px;
					}
					
					span.image-holder {
						display: block;
						height: 62%;
						margin: 0 auto;
						img {
							margin:0 auto;
							width: 100%;
						}
					}
					label {
						display: block;
						height: 32px;
					}
				}
				#Certificate span{
					width: 63.45%;
					margin-bottom: 5px;
					@media (max-width:600px) {
						margin-bottom: 7px;
					}
				}
				#Courthouse span {
					width: 78.67%;
				}
				#News span{
					width: 77.4%;
				}
				#PeopleSearch span {
					width: 101.51%;
					@media (max-width:600px) {
						margin-bottom: 2px;
					}
				}
				#Gift {
					span {
						width: 73.59%;
					}
				}
				#OGF {
					@media (min-width:601px) {
						display:none;
					}
					span {
						width: 73.59%;
					}
				}
				
			}
		}
	}
	#WhatsNew {
		@include column(3);
		position:relative;
		@media (max-width:990px) {
			@include column(12);
		}
		
		.inner-box {
			overflow:hidden;
			h3 {
				font-family:Georgia;
				color:#1C9999;
				font-size:12px;
				padding:12px;
				margin:0;
			}
			h3.inactive {
				color:#999;
				font-weight:normal;
				border-bottom:1px solid #E7E7E7;
			}
			h3#Updated.inactive {
				border-left:1px solid #E7E7E7;
			}
			h3#Recent.inactive {
				border-right:1px solid #E7E7E7;
			}
			h3#Recent {
				background-color: white;
				border-bottom: 1px solid white;
				border-right: 1px solid #E7E7E7;
				float: left;
				width: 100px;
			}
			h3#Updated {
				width:100%;
				padding-left:133px;
				-moz-box-sizing:border-box;
				box-sizing:border-box;
				border-left: 1px solid #E7E7E7;
			}
			#RecentRecordData {
				@media (max-width:990px) {
					overflow: hidden;
					padding: 4px 0 0;
					width:187%;
				}
				#Featured {
					@include background-image(linear-gradient(#FFF,#FAFAFA 99%,#FFF 99%, #FFF));
					border-bottom:1px solid #E7E7E7;
					font-family:Georgia;
					color:$teal;
					font-size:12px;
					font-weight:bold;
					overflow:hidden;
					padding:12px;
					text-align:center;
					@media (max-width:990px){
						background:none;
						border-bottom:none;
						@include column(2);
						font-size:13px;
						padding:12px 0;
						text-align:left;
					}
					@media (max-width:800px){
						@include column(3);
					}
					@media (max-width:600px){
						@include column(4);
					}
				
					b {
						font-family:Georgia;
						color:#666;
						@media(max-width:990px){
							display:none;
						}
					}
					#ThumbFeatured {
						@media(max-width:990px) {
							float:left;
							margin-right:12px;
							width:75px;
							height:75px;
							overflow:hidden;
						}
						img {
							width:100%;
							margin-bottom:12px;
							@media(max-width:990px) {
								height:100%;
								width:auto;
							}
						}
					}
					
				}
				ul#RecentList {
					padding-left:12px;
					margin:0;
					height: 284px;
					overflow-y: scroll;
					@media (max-width:990px) {
						@include column(10,no-margin);
						height:95px;
						padding:12px 0;
						overflow:hidden;
					}
					@media (max-width:800px) {
						@include column(9,no-margin);
					}
					@media (max-width:600px) {
						@include column(8,no-margin);
					}
					li {
						border-bottom:1px dotted #ECECEC;
						font-family:Georgia;
						font-size:12px;
						color:$teal;
						height:43px;
						list-style:none;
						padding:12px 0;
						@media (max-width:990px) {
							@include column(3);
							font-size:13px;
							font-weight:bold;
							height: 67px;
							margin-top:4px;
							margin-bottom:8px;
							border-bottom:none;
							padding:0;
						}
						@media (max-width:800px) {
							@include column(4);
						}
						@media (max-width:600px) {
							@include column(5);
						}
						.last-action {
							color:#999;
							display:block;
							font-size:11px;
							@media (max-width:990px){
								font-weight:normal;
							}
						}
						.collection-image {
							float: left;
							height: 40px;
							margin-right: 8px;
							overflow: hidden;
							width: 40px;
							@media (max-width:990px) {
								width:75px;
								height:75px;
							}
							img {
								width:100%;
								height:100%;
							}
						}
					}
				}
			}
			
			a#ViewCollections {
				display:block;
				color:$teal;
				font-size:12px;
				margin:16px 0 12px;
				text-align:center;
				text-decoration:none;
			}
		}
		.arrow {
			@media (min-width:991px) {
				display:none;
			}
		}
		#Left.arrow {
			bottom: 68px;
		}
		#Right.arrow {
			background-position: -98px 0;
			bottom: 68px;
			height: 75px;
			right:-12px;
			width: 37px;
		}
	}
	#Widgets {
		#FamilyMembers, #Alerts {
			padding-top:8px;
			h2 {
				margin-bottom:12px;
				@media(max-width:600px){
					margin-bottom:8px;
				}
			}
		}
	}
}

  
#Footer {
	@include column(12,no-margin);
	background-color:#949381;
	height:300px;
	margin-top:32px;
}


